@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body, .container, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    height: 100vh;
    background: #4a98f7;
}